*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(240, 253, 244);
}
.active{
  color: goldenrod;
}
.swiper-button-next:after,
.swiper-button-prev:after{
  color: #a8dadc;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #a8dadc !important;
}